.mount {
    width: 234px;
    height: 170.68px;
    top: 1079px;
    left: 237px;
    display: grid;
    align-items: center;
    align-self: auto;
}

.body {
    background-color: orange;
    width: 234px;
    height: 133.52px;
    border-radius: 100px 100px 30px 30px;
    display: flex;
    align-items: center;
}

.eyes-r {
    height: 70px;
    width: 35px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.eyes-l {
    height: 70px;
    width: 35px;
    background-color: black;
    border-radius: 50px;
}

.mounth {
    height: 92.22px;
    width: 53.68px;
    background-color: #FFFFFF;
    border-radius: 100px;
}